* {
    box-sizing: border-box;
}

body {
    background-color: #889b6d;
    font-family:  "Fraunces", serif;
    color: white;
    letter-spacing: 0.15rem;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.8rem;
}

nav {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20%;
    position: relative;
}

main {
    width: 60%;
    margin: auto;
}

nav #logo {
    width: 200px;
}

nav .links {
    display: flex;

}

nav .links a, nav .dropdown-links a {
    margin-left: 15px;
    text-decoration: none;
    font-size: 1.2rem;
    padding-right: 15px;
}

nav .links a:last-child {
    padding-right: 0px;
  }

nav .links a {
    color: white;
}


nav .links a:not(:last-child) {
    border-right: white solid 2px;
}

#sessions-titles h1 {
    font-size: 2.3rem;
    text-align: center;
}

#sessions-titles h2 {
    margin-top: 70px;
    text-align: center;
    font-size: 2rem;
}

#sessions {
    margin: 100px 0;
}

#session-types {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 55px;
}

.session-type {
    flex: 1;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
}

.session-type .session-type-image {
    width: 100%;
}

.session-type:hover .session-type-image {
    filter: blur(10px);
}

.session-type .session-type-text {
    opacity: 0;
    transition: 0.5s;
    color: rgb(255, 252, 247);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    border-radius: 50px;
}

.session-type:hover .session-type-text {
    opacity: 1;
}

#individual {
    background-color: #a9bb91;
}

#couples {
    background-color: #718653;
}

#adolescents {
    background-color: #5b703c;
}

#about-us {
    position: relative;
    aspect-ratio: 1 / 1;
    display: flex;
    flex-wrap: wrap;
    padding: 150px 100px;
    justify-content: space-between;
}

.therapist, #about-us-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 55px;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
}



.therapist-text {
    position: absolute;
    background-color: #718653;
    border-radius: 50px;
    padding: 25px;
    visibility: hidden;
    bottom: 0;
    width: 70%;
    transform: scale(45%);
    transition: transform 0.4s;
    text-align: center;
}

.therapist:hover .therapist-text {
    transform: none;
    visibility: visible;
}

.therapist-text p {
    margin: 0;
}

#about-us-text {
    flex-direction: column;
    background-color: #718653;
    border-radius: 70px 0 70px 0;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

#about-us-text:hover h1{
    transition: 0.4s;
    transform: scale(125%);

}
#about-us-content {
    opacity: 0;
    display: none;
    transition: opacity 0.4s;
}
#about-us-text p {
    font-size: 1.2rem;
}

#about-us-bg, #about-us-bg2 {
    position: absolute;
    z-index: -10;
    width: 125vw;
}

#about-us-bg {
    left: -25vw;
    top: 0vw;
}

#about-us-bg2 {
    left: -35vw;
    top: -3vw;
}


#about-us-bgcolor {
    position: absolute;
    z-index: -11;
    top: 30vw;
    left: -25vw;
    width: 125vw;
    height: 80vw;
    background-color: #d7e8be;
}

.therapist-image {
    width: 100%;
    height: 100%;
    border-radius: 70px;
    object-fit: cover;
}


#prices {
    height: 140vh;
    position: relative;
}


#prices-bg, #prices-bg2 {
    position: absolute;
    z-index: -10;
    width: 125vw;
}

#prices-bg2 {
    left: -25vw;
    top: 0vw;
}

#prices-bg {
    left: -35vw;
    top: -3vw;
}

#prices-bgcolor {
    position: absolute;
    z-index: -11;
    top: 10vw;
    left: -25vw;
    width: 125vw;
    height: 1500px;
    background-color: #f5ffe5;
}

.prices-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 12px;
}

.prices-single {
    height: 33%;
    display: flex;
    gap: 9px;
}

#prices-couple {
    flex-direction: row-reverse;
}

.prices-text-content {
    flex: 1;
    background-color: #889b6d;
    padding: 25px;
    border-radius: 35px;
}

.prices-img {
    flex: 1;
    height: 100%;
    transition: 0.3s;
}

.prices-text-content p {
    margin: 8px;
}

.prices-img img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.read-more {
    cursor: pointer;
    font-weight: 800;
    text-decoration: underline;
}

.prices-text {
    position: relative;
    height: 100%;
}

.prices-description {
    top: 0;
    left: 0;
    position: absolute;
    transform: scale(0%);
    height: 100%;
    width: 100%;
    transition: 0.4s;
}

.all-prices {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s;
}

section#contact .form {
    padding: 200px 0;

}


section#contact form {
    color: #f5ffe5;
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 80%;
    margin: auto;
}

section#contact form input, textarea {
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

section#contact form button {
    background-color: #d7e8be;
    color: #5b703c;
    padding: 7px;
    border: none;
    margin: 5px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

section#contact form button:hover {
    transform: scale(102%);
}

section#contact form button:active {
    transform: scale(98%);
}

#contact {
    height: 140vh;
    position: relative;
    color: #f5ffe5;
}


#contact-bg, #contact-bg2 {
    position: absolute;
    z-index: -10;
    width: 125vw;
}

#contact-bg2 {
    left: -25vw;
    top: 0vw;
}

#contact-bg {
    left: -35vw;
    top: -3vw;
}

#contact-bgcolor {
    position: absolute;
    z-index: -11;
    top: 10vw;
    left: -25vw;
    width: 125vw;
    height: 1500px;
    background-color: #889b6d;
}


.dropdown-links {
    position: absolute;
    right: 0;
    top: 100%;
    background-color:#d7e8be;
    color: #5b703c;
    padding: 20px;
    gap: 10px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transform: scaleY(50%);
    transition: 0.3s;
    flex-direction: column;

}

.dropdown-links a {
    color: #5b703c;
}

#hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 1400px) {
    html {
        font-size: 96%; 
      }

     nav .links {
        display: none;
    }    
    #hamburger {
        display: block;
    }

    #session-types {
        gap: 24px;
    }

    #about-us {
        padding: 185px 19px;
    }

    .therapist {
        padding: 26px;
    }
}

@media only screen and (max-width: 1280px) {
    html {
        font-size: 94%; 
      }

      .therapist-text {
        padding: 20px;
        border-radius: 40px;
      }

      #session-types {
        gap: 22px;
    }

    #about-us {
        padding: 180px 18px;
    }

    .therapist {
        padding: 24px;
    }
}

@media only screen and (max-width: 1024px) {
    html {
        font-size: 90%; 
      }

    main {
        width: 70%;
    }

    nav {
        margin: 0 15%;
    }


      .therapist-text {
        padding: 15px;
        border-radius: 30px;
      }

      .therapist-image {
        border-radius: 35px;
    }

    #session-types {
        gap: 20px;
    }

    #about-us {
        padding: 170px 17px;
    }

    .therapist {
        padding: 22px;
    }

  }


@media only screen and (max-width: 768px) {
    main {
        width: 85%;
    }

    nav {
        margin: 0 8%;
    }
    #session-types {
        gap: 15px;
    }
    .session-type, .session-type .session-type-text {
        border-radius: 25px;
    }

    .therapist-image {
        border-radius: 30px;
    }

    .therapist-text {
        padding: 10px;
        border-radius: 20px;
      }

    .therapist {
        padding: 20px;
    }
    #about-us {
        padding: 150px 15px;
    }
  }