{% extends "layout.html" %}

{% block title %}Reset - Početna{% endblock %}

{% block content %}
    <main>
        
        <section id="sessions">

            <div id="sessions-titles">
                <h1>Gde svaka priča dobija podršku</h1>
                <h2>Koji tip seanse Vas interesuje?</h2>
            </div>
            <div id="session-types">
                <div class="session-type" id="individual">
                    <img src="{{ url_for('static', filename='images/individualna.png') }}" alt="" class="session-type-image">
                    <div class="session-type-text">
                        <h3>Individualna</h3>
                        <h4>Za mene</h4>
                    </div>
                </div>
                <div class="session-type" id="couples">
                    <img src="{{ url_for('static', filename='images/partner.png') }}" alt="" class="session-type-image">
                    <div class="session-type-text">
                        <h3>Partnerska</h3>
                        <h4>Za nas</h4>
                    </div>
                </div>
                <div class="session-type" id="adolescents">
                    <img src="{{ url_for('static', filename='images/dete.png') }}" alt="" class="session-type-image">
                    <div class="session-type-text">
                        <h3>Adolescenti</h3>
                        <h4>Za moje dete</h4>
                    </div>
                </div>
            </div>
        </section>
        <section id="about-us">
            <img id="about-us-bg2" src="{{ url_for('static', filename='images/wave2.svg') }}" alt="">
            <img id="about-us-bg" src="{{ url_for('static', filename='images/wave.svg') }}" alt="">
            <div id="about-us-bgcolor"></div>
            <div id="about-us-text">
                <h1>O nama</h1>
                <div id="about-us-content">
                    <p>Centar RESET nastao je u septembru 2023. godine kao ostvarenje zajedničkog sna troje kolega – Jelene, Antee i Aleksa. Naša priča započela je još tokom osnovnih studija na fakultetu, gde smo se upoznali i počeli da gradimo temelje profesionalnog i prijateljskog odnosa. Zajedno smo prolazili kroz brojne edukacije, volontiranja, radionice i treninge, međusobno se podržavali i učili jedni od drugih. Kroz sve te godine, podelili smo ne samo profesionalne izazove, već i mnogo lepih trenutaka privatno.</p><p>
                        Ideja o osnivanju centra rodila se još tada – kao želja da spojimo naš entuzijazam za terapijskim radom, posvećenost pomaganju ljudima i ljubav prema zajedničkom stvaranju. Godinama kasnije, ta ideja je prerasla u stvarnost, vođena željom da stvorimo prostor u kojem ćemo moći da razvijamo svoje ideje i istovremeno pružamo podršku drugima.</p><p>
                        U ovih godinu i po dana postojanja, naš centar postao je mesto gde se ljudi mogu obratiti za pomoć i podršku, gde mi kao tim rastemo i zajedno razvijamo nove ideje. Ponosni smo na to što kroz rad sa klijentima učimo i mi sami, i što iz dana u dan svedočimo njihovim uspesima, promenama i napretku. Naš tim se međusobno podržava i inspiriše, a centar polako, ali sigurno, nastavlja da raste, baš kao što smo ga i zamislili!</p><p>
                        Ovo nije samo naš posao – ovo je naš zajednički san, koji živimo i gradimo sa puno strasti, posvećenosti i vere u ono što radimo.</p>
                </div>
                
            </div>
            <div class="therapist">
                <img class="therapist-image" src="{{ url_for('static', filename='images/aleks.png') }}" alt="">
                <div class="therapist-text">
                    <p>Aleks Mladenović</p>
                    <p>Master Psiholog</p>
                    <p>RE&KBT Psihoterapeut pod supervizijom</p>
                    <p>➜</p>
                </div>
            </div>
            <div class="therapist">
                <img class="therapist-image" src="{{ url_for('static', filename='images/jelena.png') }}" alt="">
                <div class="therapist-text">
                    <p>Jelena Spasić</p>
                    <p>Psiholog</p>
                    <p>RE&KBT Psihoterapeut pod supervizijom</p>
                    <p>➜</p>
                </div>
            </div>
            <div class="therapist">
                <img class="therapist-image" src="{{ url_for('static', filename='images/antea.png') }}" alt="">
                <div class="therapist-text">
                    <p>Antea Stojiljković</p>
                    <p>Master Psiholog</p>
                    <p>RE&KBT Psihoterapeut pod supervizijom</p>
                    <p>➜</p>
                </div>
            </div>
        </section>
        <section id="prices">
            <img id="prices-bg" src="{{ url_for('static', filename='images/wave3.svg') }}" alt="">
            <img id="prices-bg2" src="{{ url_for('static', filename='images/wave2.svg') }}" alt="">
            <div id="prices-bgcolor"></div>
            <div class="prices-content">
                <div id="prices-individual" class="prices-single">
                    <div class="prices-text-content">
                        <h3>INDIVIDUALNE SEANSE</h3>
                        <p class="read-more">Saznaj više</p>
                        <div class="prices-text">
                            <div class="prices-description">
                                <p>Individualna seansa podrazumeva rad jedan na jedan sa terapeutom u sigurnom i poverljivom okruženju. Seansa može biti održana online, putem Google Meet platforme, ili uživo u prostorijama savetovališta. Podaci do kojih psiholog dolazi u radu sa klijentom poverljive su prirode i čuvanje njihove tajnosti jedna je od osnovnih dužnosti. Prilikom korišćenja podataka sakupljenih tokom rada sa klijentom, psiholog je dužan da sakrije identitet stranke i drugih lica na koje se podaci odnose. Psiholog je dužan da ne otkrije identitet klijenta čak i ako klijent ne traži zaštitu svog identiteta.
                                    Jedna seansa traje 50 minuta do sat vremena, uz mogućnost zakazivanja duple seanse.</p>
                            </div>
                            <div class="all-prices">
                            <p><span>Online (Srbija):</span>2.500 RSD</p>
                            <p><span>Online (inostranstvo):</span>25 EUR (+provizija)</p>
                            <p><span>Uživo:</span>3.000 RSD</p>
                            <p><span>Seansa na engleskom jeziku:</span>dodatnih 500 RSD / 5 EUR</p>
                            </div>
                        </div>
                        

                    </div>
                    <div class="prices-img">
                        <img src="{{ url_for('static', filename='images/prices-individual.png') }}" alt="">
                    </div>
                </div>
                <div id="prices-couple" class="prices-single">
                    <div class="prices-text-content">
                        <h3>PARTNERSKE SEANSE</h3>
                        <p class="read-more">Saznaj više</p>
                        <div class="prices-text">
                            <div class="prices-description">
                                <p>Partnerska seansa je namenjena parovima koji žele da rade na svojoj vezi, komunikaciji, razumevanju i rešavanju problema uz pomoć terapeuta. Seanse mogu biti održane online, putem Google Meet platforme, ili uživo u prostorijama savetovališta. Podaci do kojih psiholog dolazi u radu sa klijentima poverljive su prirode i čuvanje njihove tajnosti jedna je od osnovnih dužnosti. Prilikom korišćenja podataka sakupljenih tokom rada sa klijentima, psiholog je dužan da sakrije identitet stranaka i drugih lica na koje se podaci odnose. Psiholog je dužan da ne otkrije identitete klijenata čak i ako klijenti ne traže zaštitu svojih identiteta.
                                    Jedna seansa traje 50 minuta do sat vremena, uz mogućnost zakazivanja duple seanse.</p>
                            </div>
                            <div class="all-prices">
                            <p><span>Online (Srbija):</span>3.500 RSD</p>
                            <p><span>Online (inostranstvo):</span>35 EUR (+provizija)</p>
                            <p><span>Uživo:</span>4.000 RSD</p>
                            <p><span>Seansa na engleskom jeziku:</span>dodatnih 500 RSD / 5 EUR</p>
                            </div>
                        </div>
                        

                    </div>
                    <div class="prices-img">
                        <img src="{{ url_for('static', filename='images/prices-couple.png') }}" alt="">
                    </div>
                </div>
                <div id="prices-teen" class="prices-single">
                    <div class="prices-text-content">
                        <h3>ZA MOJE DETE</h3>
                        <p class="read-more">Saznaj više</p>
                        <div class="prices-text">
                            <div class="prices-description">
                                <p>Seanse za adolescente omogućavaju mladima da uz podršku terapeuta pronađu načine da se nose sa izazovima kroz koje prolaze. Individualni rad sa terapeutom može se odvijati online, putem Google Meet platforme ili uživo u prostorijama savetovališta. Podaci do kojih psiholog dolazi u radu sa klijentom poverljive su prirode i čuvanje njihove tajnosti jedna je od osnovnih dužnosti. Prilikom korišćenja podataka sakupljenih tokom rada sa klijentom, psiholog je dužan da sakrije identitet stranke i drugih lica na koje se podaci odnose. Psiholog je dužan da ne otkrije identitet klijenta čak i ako klijent ne traži zaštitu svog identiteta.
                                    Seanse su dostupne za maloletna lica, pri čemu je za one između 14 i 16 godina neophodan pristanak roditelja. Sa decom mlađom od 14 godina ne radimo.
                                    Jedna seansa traje 50 minuta do sat vremena, uz mogućnost zakazivanja duple seanse.</p>
                            </div>
                            <div class="all-prices">
                            <p><span>Online (Srbija):</span>2.500 RSD</p>
                            <p><span>Online (inostranstvo):</span>25 EUR (+provizija)</p>
                            <p><span>Uživo:</span>3.000 RSD</p>
                            <p><span>Seansa na engleskom jeziku:</span>dodatnih 500 RSD / 5 EUR</p>
                            </div>
                        </div>
                        

                    </div>
                    <div class="prices-img">
                        <img src="{{ url_for('static', filename='images/prices-teen.png') }}" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="contact">
            <div class="contact-info"></div>
            <div class="form">
                <form action="https://usebasin.com/f/52e7368d9d9c" method="POST" enctype="multipart/form-data" id="form" >
                    <label for="name">Vaše ime</label>
                    <input type="text" name="name" />
                    <label for="lastname">Vaše prezime</label>
                    <input type="text" name="lastname" />
                    <label for="email">Email</label>
                    <input type="email" name="email" required />
                      <label for="phone">Telefon</label>
                    <input type="text" name="phone" />
                    <label for="title">Naslov</label>
                    <input type="text" name="title" />
                    <label for="message">Poruka</label>
                    <textarea name="message"></textarea>
                    <button type="submit">Send</button>
                  </form>
                  </form>
            </div>

        </section>

  

    </main>
    <script>
        const therapists = document.getElementsByClassName('therapist')
        const aboutUsText = document.getElementById('about-us-text');
        const aboutUsContent = document.getElementById('about-us-content');
        aboutUsText.addEventListener('click', () => {
            if (!aboutUsText.classList.contains('active')){

                aboutUsText.style.width = '100%';
            for (let therapist of therapists) {
                therapist.style.width = '0%'
            };
            aboutUsContent.style.display = "block";
            aboutUsContent.style.opacity = "1";
            aboutUsText.classList.add('active')
            } else {
                aboutUsText.style.width = '49%';
            for (let therapist of therapists) {
                therapist.style.width = '49%'
            };
            aboutUsContent.style.display = "none"
            aboutUsContent.style.opacity = "0";
            aboutUsText.classList.remove('active')
            }

          
        });

        const readMores = document.getElementsByClassName('read-more')
        
        for (let readMore of readMores){
            readMore.addEventListener('click', () => {
                const pricesImg = readMore.parentElement.parentElement.querySelector('.prices-img')
                let allPrices = readMore.parentNode.children[2].children[1]
                let pricesDescription = readMore.parentNode.children[2].children[0]
                if (readMore.classList.contains('active')){
                    pricesDescription.style.transform = 'scale(0%)';
                    allPrices.style.transform = 'scale(100%)';
                    readMore.classList.remove('active')
                    readMore.textContent = 'Saznaj više'
                    pricesImg.style.flex = '1'
                } else {

                    pricesDescription.style.transform = 'scale(100%)';
                allPrices.style.transform = 'scale(0%)';
                readMore.classList.add('active')
                readMore.textContent = 'Cene'
                pricesImg.style.flex = '0'
                }

            })

            
        }
    </script>
{% endblock %}
