<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reset - Početna{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
        rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png') }}">
</head>

<body>

    <nav>
        <a href="{{ url_for('home') }}">
            <img id="logo" src="{{ url_for('static', filename='images/logo-white.png') }}" alt="" class="session-type-image">
        </a>
        <div class="links">
            <a href="#about-us">O nama</a>
            <a href="#prices">Cenovnik</a>
            <a href="#schedule">Zakažite seansu</a>
            <a href="#contact">Kontakt</a>
        </div>
        <div class="dropdown-links">
            <a href="#about-us">O nama</a>
            <a href="#prices">Cenovnik</a>
            <a href="#schedule">Zakažite seansu</a>
            <a href="#contact">Kontakt</a>
        </div>
        <button id="hamburger">
            <img src="{{ url_for('static', filename='images/hamburger.svg') }}" alt="">
        </button>
        
    </nav>

    <div>
        {% block content %}{% endblock %}
    </div>

</body>

</html>
